In [1]:
import pandas

In [2]:
ds = pandas.read_csv('SalaryData.csv')

In [3]:
ds.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [5]:
x = ds['YearsExperience'].values.reshape(30,1)

In [6]:
type(x)

numpy.ndarray

In [7]:
x.shape

(30, 1)

In [8]:
y = ds['Salary']

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
model = LinearRegression()

In [11]:
# algo 
model.fit(x , y)

LinearRegression()

In [12]:
model.coef_

array([9449.96232146])

In [13]:
# y = c +  wx
# 9449 * 1.1
model.predict([[ 1.1 ]] )

array([36187.15875227])

In [14]:
36187/39343 * 100

91.97824263528454

In [15]:
9449 * 1.1

10393.900000000001

In [16]:
c = model.intercept_

In [17]:
c

25792.20019866871

In [18]:
25792 + 9449 * 1.1

36185.9

In [19]:
import joblib

In [22]:
joblib.dump(model,'salary.pk1')

['salary.pk1']